apiVersion: v1
kind: Secret
metadata:
  name: {{ domain | replace('.', '-') }}-tls-secret
type: kubernetes.io/tls
data:
  tls.crt: {{ cert_chain | b64encode }}
  tls.key: {{ route.spec.tls.key | b64encode }}